.footer{
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    margin-top: 40px;
    background-color: rgb(12, 12, 12);
}
.footer .social{
    margin-top: 10px;
}
.social a{
    margin: 0 20px;
    color: #00bfff;
    text-decoration: none;
}
.social a:hover{
    text-decoration: underline;
    color: white;
}
